.info-box{
    background-color: rgb(54, 4, 61);
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
    margin-top: 20px;

}
.info-text{
    font-weight: bold;
    color: beige;
    border-color: darkblue;
    border-width: 200px;
}
h1{
    text-align: center;
    color: rgb(46, 3, 46);
}
body{
    background-color:rgb(188, 153, 188);
    text-align: center;
    margin: 100;
    padding: 20px;
}
form{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"],
input[type="tel"],
input[type="number"]{
    margin: 10px 0;
    width:  300px;
    padding: 5px;
}
